@{
    ViewBag.Title = "Products";
}

<h2>Produkty</h2>

@using (Html.BeginForm())
{
    <select id="ddl" />
    <input type="text" id="quant" />
    <button type="button" id="bsend">Add product</button>
}

<div id="shopping-cart">
    <ul id="ulcart">
    </ul>
</div>

<div id="failed-events" style="color: Red">
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>

<script type="text/javascript">
    var selectedId = -1;

    var getShoppingCart = function () {
        $.get(
            'http://localhost:49521/api/shoppingcart/getallshoppingcartelements',
            function (data, textStatus, jqXHR) {
                $("#ulcart").empty();

                if (data != null && data.length > 0) {
                    $.each(data, function (index, value) {
                        $("#ulcart").append($("<li>").text(value));
                    });
                }
            }
        );
    };

    var getFailedEvent = function () {
        $.get(
            'http://localhost:49521/api/failedevents/get',
            function (data, textStatus, jqXHR) {
                if (data != null) {
                    $("#failed-events")
                        .text("An error occured: " + data.EventName)
                        .fadeOut(4000, function () { });
                }
            }
        );
    };

    var checkDdlForId = function () {
        $.get(
            'http://localhost:49521/api/shoppingcart/getfullcartelements',
            function (data, textStatus, jqXHR) {
                $.each(data, function (index, value) {
                    $("#ddl > option[value=" + value + "]").remove();
                });

                selectedId = $("#ddl").first("<option>").val();
                console.log(selectedId);
            }
        );
    };

    $(function () {
        $.get(
            'http://localhost:49521/api/products/getproducts',
            function (data, textStatus, jqXHR) {
                if (data != null && data.length > 0) {
                    $.each(data, function (index, value) {
                        if (index == 0) {
                            selectedId = value.Id;
                        }

                        $("#ddl").append($('<option>').text(value.Name).attr('value', value.Id));
                    });
                }
            }
        );

        $("#ddl").change(function () {
            selectedId = $(this).children(":selected").attr("value");
        });

        $("#bsend").click(function (data) {
            var quantity = $("#quant").val();

            if (quantity != null && quantity != "") {
                $.post(
                    'http://localhost:49521/api/products/post',
                    { ProductId: selectedId, Quantity: quantity, Name: "" },
                    function () { },
                    "json"
                );
            }
        });

        setInterval(getShoppingCart, 2000);
        setInterval(getFailedEvent, 2000);
        setInterval(checkDdlForId, 8000);
    });
</script>